<section id="skills" class="skills-section">
  <div class="container">

   <div class="section-header">
                <h2 class="section-title">Tech Behind My Work</h2>
                <div class="section-divider"></div>
            </div>
    <div class="skills-stack">
      <div class="skills-group" @staggerIn>
        <h3 class="skills-group-title">
          <i class="fas fa-code icon-accent"></i>
          Languages & Frameworks
        </h3>
        <div class="skills-items">
          <div class="skills-item" *ngFor="let item of languages" @popIn>
            <div class="skill-content">
              <div class="skills-icon"><img class="skill-icon" [src]="item.icon" [alt]="item.name + ' icon'" />

              </div>
              <span class="skills-name">{{item.name}}</span>
              <!-- <span class="skills-level {{getLevelClass(item.level)}}">{{item.level}}</span> -->
            </div>
          </div>
        </div>
      </div>

      <div class="skills-group" @staggerIn>
        <h3 class="skills-group-title">
          <i class="fas fa-database icon-accent"></i>
          Databases
        </h3>
        <div class="skills-items">
          <div class="skills-item" *ngFor="let item of databases" @popIn>
            <div class="skill-content">
              <div class="skills-icon">
              <img class="skill-icon" [src]="item.icon" [alt]="item.name + ' icon'" />

              </div>
              <span class="skills-name">{{item.name}}</span>
              <!-- <span class="skills-level {{getLevelClass(item.level)}}">{{item.level}}</span> -->
            </div>
          </div>
        </div>
      </div>

      <div class="skills-group" @staggerIn>
        <h3 class="skills-group-title">
          <i class="fas fa-tools icon-accent"></i>
          Tools & Platforms
        </h3>
        <div class="skills-items">
          <div class="skills-item" *ngFor="let item of tools" @popIn>
            <div class="skill-content">
              <div class="skills-icon">
                <img class="skill-icon" [src]="item.icon" [alt]="item.name + ' icon'" />

              </div>
              <span class="skills-name">{{item.name}}</span>
              <!-- <span class="skills-level {{getLevelClass(item.level)}}">{{item.level}}</span> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>